<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102400" executionTimeout="6000"/>
    <webServices>
      <protocols>
        <add name= "HttpPost"/>
        <add name= "HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  <appSettings>
    <add key="ConnetionString" value="u/heCXUdBxCEueUfhJbD5Ix8cvX5mgMwPGjn0gS5qqoh7U/LPPFhjKg63CPT4m1S/wevMb+iO7z082RO9iwduQGR4ptC6F+617s7isn+6/PKCuDgb4cAtwYPt75Sy+nSeKe+umPUlZc="/>
    <add key="isDebug" value="false"/>
  </appSettings>
</configuration>